<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
<meta charset="{{ site.encoding }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="{{ page.author | default: site.author | escape }}">
<meta name="generator" content="Jekyll v{{ jekyll.version }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": {
          "@type": "Person",
          "name": "{{ page.author | default: site.author }}"
      },
      "datePublished": "{{ page.date | date_to_rfc822 }}",
      "headline": "{{ page.title }}",
      "url": "{{ page.url | absolute_url }}"
  }
</script>

{% if site.show_frame %}
<link rel="stylesheet" href="{{ "/assets/css/frame.css" | relative_url }}">
{% else %}
<link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}">
{% endif %}
<link rel="stylesheet" href="{{ "/assets/css/classes.css" | relative_url }}">
{% if site.plugins contains "jekyll-feed" %}<link rel="alternate" href="{{ site.feed.path | default: "/feed.xml" | relative_url }}" type="application/atom+xml" title="{{ site.title }}">{% endif %}
{% if page.mathjax or site.mathjax %}
<link rel="stylesheet" href="{{ "/assets/katex/katex.min.css" | relative_url }}">
<script defer src="{{ "/assets/katex/katex.min.js" | relative_url }}"></script>
<script defer src="{{ "/assets/katex/contrib/auto-render.min.js" | relative_url }}" onload="renderMathInElement(document.body)"></script>
{% endif %}
{% if site.comments.disqus_shortname and page.layout == "post" %}<script src="//{{ site.comments.disqus_shortname }}.disqus.com/embed.js" async></script>{% endif %}
{% if site.comments.isso_domain and page.layout == "post" %}<script data-isso="http://{{ site.comments.isso_domain }}" src="//{{ site.comments.isso_domain }}/js/embed.min.js"></script>{% endif %}
{% if site.show_sidebar or site.sidebar %}{% include sidebar.html %}{% endif %}

{% if site.navigation %}
  {% assign pages = site.navigation %}
{% else %}
  {% assign pages = site.pages | where_exp: "item", "item.title and item.sitemap != false" | sort: "order" %}
{% endif %}

<header>
  {% if site.title %}
    <a href="{{ "/" | relative_url }}" class="title">{{ site.title | escape }}</a>
  {% endif %}
  {% include menu.html menu=pages text=true %}
</header>

{{ content }}

{% if site.show_social %}
<footer>
  <div>{{ site.description | default: site.title }}</div>
  {% include menu.html menu=site.external icon=true %}
</footer>
{% endif %}

</html>
